.body {
  background-color: #222623;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.title {
  background-color: #f2f2f2;
  color: #222623;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

.title h1 {
  margin-right: 2rem;
}

.nickBtn {
  background-color: #f2f2f2;
  font-size: 2.5rem;
  font-family: inherit;
  font-weight: bold;
  padding: 1rem 1.5rem;
  margin: auto;
  width: 40%;
  cursor: pointer;
  border-radius: 50px;
}
/* nez zasto ne radi */
.nickBtn :hover {
  background-color: #2e3b32;
  color: #f2f2f2;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

/*chat-messages*/

.chatMessages {
  padding: 20px;
  flex-grow: 1;
  overflow-y: scroll;
}

.message {
  display: block;
  margin-bottom: 20px;
  overflow-wrap: break-word;
}

.message p {
  margin: 0;
  padding: 15px;
  border-radius: 5px;
}

.message .author {
  font-weight: bold;
  padding: 15px 0 5px;
}

/*message.me*/

.message.me {
  display: block;
  justify-content: flex-end;
  margin-left: 70%;
  margin-bottom: 0;
}

.message.me .author {
  background: none;
}

.message.me p {
  background-color: #bfbfbf;
  color: #000000;
  align-self: flex-end;
  text-align: right;
  width: auto;
  padding: 10px;
  border-radius: 20px;
}

.message.me p.author {
  padding-right: 1rem;
}

/*message.other*/

.message.other {
  display: block;
  margin-right: 70%;
  margin-bottom: 0;
}

.message.other p {
  background-color: #8c6f5e;
  color: #000000;
  border-radius: 20px;
  padding: 10px;
}

.message.other p.author {
  padding-left: 1rem;
}

.message.other .author {
  background: none;
}

/*chat-form*/

.chatForm {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding: 20px;
  margin-bottom: 3rem;
}

.chatForm input {
  font-size: 1rem;
  background-color: #ffffff;
  padding: 0.8rem 20px;
  outline: none;
  border: none;
  width: 80%;
  border-radius: 50px 0 0 50px;
}

.chatForm button {
  background-color: #565957;
  color: #fff;
  width: 30%;
  font-size: 1rem;
  padding: 0.8rem;
  border: none;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
}

footer {
  color: #ffffff;
  position: fixed;
  bottom: 0;
  left: 40%;
}
